html {
    height: 100vh;
}

body {
    background-image: url("https://i.pinimg.com/originals/6e/47/1a/6e471a2370d95b21fdbcff841b3613d7.gif");
    height:100%;
    background-position: center;
    background-size: 800px, 1000px;
    background-color: black;
    background-repeat: no-repeat;

}

body img {
    /* -webkit-box-reflect: below; */
    /* -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4)); */
    opacity: 0.9;
    
}

#prompt {
    font-family: "Copperplate", fantasy;
    font-size: 250%;
    color: white;
    text-shadow: 2px 5px grey;
    line-height: 5;
    text-align: center;
    align-items: center;
    display: block;
}


#ask {
    border-radius: 50%;
    transition-duration: 1s;
    height: 10%;
    width: 10%;
    border-color: transparent;
    background-color: transparent;
    background-image: radial-gradient( white , transparent, transparent);
}

#ask:hover {
    background-image: radial-gradient(red 10%, purple 20%, transparent 50%);
    color: white;
}

#user-question {  
    border-color: transparent;
    background-color: transparent;
    background-image: linear-gradient(to right, transparent , white, transparent);
    text-align: center;
}

#magic {
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 55%;
}

#theball {
    align-items: center;
    position:absolute;
    top: 30%;
    left: 50%;
    margin: 0%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    height: 40%;
    width: auto;
    display: block;
    justify-content: center;

}
#theball img {
    height: 100%;
    width: 100%;
}
